header {
  background-color: #b62335;
  margin: -10px;
}
body {
  background: linear-gradient(to right, #b62335 0%, #66ff99 100%);
}

#logo {
  padding-left: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#logo2 {
  width: 100%;
}
#logo3 {
  width: 100%;
}

.articulo {
  display: grid;
  gap: 20px;
}

.articulo1 {
  float: left;
  margin: 0px;
  padding-top: 5rem;
  padding-left: 15rem;
  padding-bottom: 3rem;
  clear: both;
}
.foto1 {
  width: 40%;
  float: left;
}
.texto1 {
  padding-top: 8rem;
  margin-left: 10rem;
  width: 45%;
  float: right;
}

#imagen {
  width: 55rem;
  border-radius: 5%;
  border: 2px solid #000;
}

#imagen2 {
  height: 12rem;
  width: 20rem;
  border-radius: 10%;
  border: 2px solid #000;
}

.articulo2 {
  float: left;
  width: 18%;
  margin-top: 3rem;
  margin-left: 7rem;
  margin-bottom: 3rem;
  padding-top: 30px;
  overflow: hidden;
}
#imagen3 {
  width: 100%;
  border: 2px solid #000;
}
.articulo3 {
  text-align: center;
}
#imagen4 {
  width: 43rem;
  height: 25rem;
  border-radius: 8%;
  border: 2px solid #000;
}
.articulo4 {
  float: left;
  width: 30%;
  margin: 4rem;
  padding-left: 7rem;

}

@font-face {
  font-family: fuente;
  src: url("../Practica5/fonts/Araboto.ttf");
}

h3 {
  font-family: fuente;
  color: white;
  text-shadow: 1px 1px 2px black;
  
}

.footer {
  width: 100%;
  
}

@media (max-width: 900px) {
  #logo {
    padding-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  #imagen {
    width: 27rem;
    margin-left: -9rem;
  }
  .texto1{
    margin-left: -8rem;
    float: none;
    width: 100%;
    margin-top: 10rem;
  }
  #imagen2 {
    width: 10rem;
    height: 6rem;
  }
  .articulo2{
    padding: 1rem;
    margin: 0;
    width: 35%;
    padding-left: 5rem;
  }
  
  #imagen3 {
    width: 100%;
  }
  #imagen4 {
    width: 100%;
  }
  .articulo4{
    margin-left: 0;
    width: 100%;
    padding: 0;
  }
 
  
}
@media (max-width: 500px) {
  #logo {
    padding-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  #imagen {
    width: 25rem;
    margin-left: -12rem;
  }
  .texto1{
    float: none;
    margin-left: -8rem;
    width: 100%;
  }
  #imagen2 {
    width: 10rem;
    height: 6rem;
  }
  .articulo2{
    padding: 1rem;
    margin: 0;
    width: 35%;
    padding-left: 3rem;
  }
  
  #imagen3 {
    width: 100%
  }
  #imagen4 {
    width: 100%;
  }
  .articulo4{
    margin-left: 0;
    width: 100%;
    padding: 0;
  }
  
  
}
